<div id="fb-root"></div>
<div id="header">
  <span id="title">Сайт по игре Civilization V</span>
  <div id="userplace">
    <button  class="crutch" (click)="increase()" #mda>Click</button>
    <div id="logged_user" *ngIf="img_url != null">
      <img [src]="img_url" id="smallpic">
      <a>{{user.username}}</a>
    </div>
      <div id="login">
        <div class="fb-login-button" data-max-rows="1" data-size="small" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>
      </div>
  </div>
</div>

<div id="wraper">
  <div id="sidebar">
    <h3>Меню</h3>
    <ul class="category-wrap">
      <li routerLinkActive="active" >
        <a routerLink="/home/feed">Главная</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/home/tech">Технологии</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/home/units">Юниты</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/home/nations">Нации</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/home/ranks">Ранги</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/home/wonders">Чудеса света</a>
      </li>
    </ul>
  </div>


  <div id="child">
    <router-outlet></router-outlet>
  </div>

</div>

