tech works!
<br>
<div>
  <img src="http://i.playground.ru/i/03/76/30/00/screenshot/sid_meiers_civilization_5.1920xauto.jpg" usemap="#Tree" height="500px" width="100%">
  <map id="Tree" name="Tree">
    <area shape="poly" coords={{agriculture}} id="Agriculture" onclick="JavaScript:alert('XUI VIDNO')">
    <area shape="poly" coords={{pottery}} id="Pottery" onclick="JavaScript:alert('XUI VIDNO')">
    <area shape="poly" coords={{husbandry}} id="Husbandry" onclick="JavaScript:alert('XUI VIDNO')">
    <area shape="poly" coords={{archery}} id="Archery" onclick="JavaScript:alert('XUI VIDNO')">
    <area shape="poly" coords={{mining}} id="Mining" onclick="JavaScript:alert('XUI VIDNO')">
    <area shape="poly" coords={{sailing}} id="Sailing" onclick="JavaScript:alert('XUI VIDNO')">
    <area shape="poly" coords={{calendar}} id="Calendar" onclick="JavaScript:alert('XUI VIDNO')">
    <area shape="poly" coords={{writing}} id="Writing" onclick="JavaScript:alert('XUI VIDNO')">
    <area shape="poly" coords={{trapping}} id="Trapping" onclick="JavaScript:alert('XUI VIDNO")">
    <area shape="poly" coords={{wheel}} id="Wheel" onclick="JavaScript:alert('XUI VIDNO')">
    <area shape="poly" coords={{masonry}} id="Masonry" onclick="JavaScript:alert('XUI VIDNO')">
    <area shape="poly" coords={{bronze}} id="Bronze" onclick="JavaScript:alert('XUI VIDNO')">
    <area shape="poly" coords={{optics}} id="Optics" onclick="JavaScript:alert('XUI VIDNO')">
    <area shape="poly" coords={{philosophy}} id="Philosophy" onclick="JavaScript:alert('XUI VIDNO')">
    <area shape="poly" coords={{horseriding}} id="HorseRiding" onclick="JavaScript:alert('XUI VIDNO')">
    <area shape="poly" coords={{mathematics}} id="Mathematics" onclick="JavaScript:alert('XUI VIDNO')">
    <area shape="poly" coords={{construction}} id="Construction" onclick="JavaScript:alert('XUI VIDNO')">
    <area shape="poly" coords={{iron}} id="Iron" onclick="JavaScript:alert('XUI VIDNO')">
  </map>
</div>
